.container {
    border: solid;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
}
a{
    color: rgb(rgb(106, 201, 230));
    font-size: 25px;
    text-decoration: 
}

.homepage h1 {
    font-size: 90px;
}
.homepage p{
    
}